@model WebCliente.Models.Alumno  
@{
    ViewData["Title"] = "Detalle";
}
<h1>@ViewData["Title"]</h1>
<h4>Mantenimiento de Alumnos</h4>
<hr />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Detalle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*POR SUPUESTO, NO PODEMOS MODIFICAR
            EL Id DEL OBJETO*@ 
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@

             <div class="form-group">
                 @Html.LabelFor(model => model.AlumnoId, htmlAttributes: new { @class = "control-label col-md-2" })
                 @Html.EditorFor(model => model.AlumnoId, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.AlumnoId, "", new { @class = "text-danger" })

                @*<label asp-for="AlumnoId" class="control-label"></label>
                <input asp-for="AlumnoId" class="form-control" />
                <span asp-validation-for="AlumnoId" class="text-danger"></span>*@
            </div>
            <div class="form-group">

                 @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                 @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })

               @* <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>*@
            </div>
          @*  <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label"></label>
                <input asp-for="Nivel" class="form-control" />
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            *@

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@if (ViewData["error"] != null)
{
    <div class="alert alert-danger text-center">
        @ViewData["error"]
    </div>
}

@*Se agrega esta sección para que funcione la validación frontend*@
@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}